<?xml version="1.0"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<connectionStrings>
		<add name="AstrodonConnectionString" connectionString="Data Source=STEPHEN-PC\MTDNDSQL;Initial Catalog=Astrodon;Persist Security Info=True;User ID=sa;Password=m3t@p@$$" providerName="System.Data.SqlClient" />
		<add name="AstrodonConnectionStringS" connectionString="Data Source=10.0.1.10\SQLEXPRESS;Initial Catalog=Astrodon;Persist Security Info=True;User ID=sa;Password=sa"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off" />
	</system.web>
</configuration>